name: Java CI with Gradle

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Build with Gradle
        uses: gradle/gradle-build-action@0d13054264b0bb894ded474f08ebb30921341cee
        with:
          arguments: build

      - name: Test
        run: ./gradlew test

      - name: Generate JaCoCo Badge
        uses: cicirello/jacoco-badge-generator@v2
        with:
          jacoco-csv-file: app/build/reports/jacoco/test/jacocoTestReport.csv
          badges-directory: .github/badges
          generate-branches-badge: true
          coverage-badge-filename: jacoco.svg

      - name: Log coverage percentage
        run: |
          echo "coverage = ${{ steps.jacoco.outputs.coverage }}"
          echo "branch coverage = ${{ steps.jacoco.outputs.branches }}"

  - name: Create pull request
      if: ${{ github.event_name == 'push' }}
      uses: peter-evans/create-pull-request@v3.10.0
      with:
        title: "Autogenerated Jacoco Coverage Badge"
        body: >
          Autogenerated Jacoco coverage badge, generated by 
          the [jacoco-badge-generator](https://github.com/cicirello/jacoco-badge-generator) 
          GitHub action.  Automated pull-request generated by 
          [create-pull-request](https://github.com/peter-evans/create-pull-request) 
          GitHub action.
        commit-message: "Autogenerated Jacoco Coverage Badge"
        author: Ismail Karabulut <ikarabulut@users.noreply.github.com>
        committer: Ismail Karabulut <ikarabulut@users.noreply.github.com>
        branch: create-pull-request/badge
        delete-branch: true
        labels: |
          automated
